In [ ]:
import duckdb
import pandas as pd
import os

In [ ]:
DUCKDB_DATABASE = os.path.abspath('../data/staging/data.duckdb')
conn = duckdb.connect(DUCKDB_DATABASE)

In [ ]:
query = """
        show all tables
    """
df = conn.execute(query).fetch_df()
df

In [ ]:
conn.sql('select * from zones')

In [ ]:
query = """
        select * from zones
    """
df = conn.execute(query).fetch_df()
df

In [ ]:
query = """
        select
            *
        from trips
        order by dropoff_datetime desc 
    """
df = conn.execute(query).fetch_df()
df.head()

In [ ]:
query = """
        SELECT
            DATE_TRUNC('week', CAST(dropoff_datetime AS date) + 1) - 1 AS period,
            COUNT(*) AS num_trips,
            SUM(COALESCE(passenger_count,0)) AS passenger_count,
            SUM(COALESCE(total_amount,0)) AS total_amount,
            SUM(COALESCE(trip_distance,0)) AS trip_distance            
        FROM trips
        GROUP BY 1
        ORDER BY 1 
    """
trips_by_zone = conn.execute(query).fetch_df()
trips_by_zone.head(100)

In [ ]:
conn.close()